#----------------------------------------------------------#
# 樱花配置文件
#----------------------------------------------------------#
# 不知道怎么打开和关闭的看这里
#
# 打开(true) -|- 关闭(false)
#
# 复制括号内的英文到 等于号 后面
#----------------------------------------------------------#
# 修改完需要重启游戏才能生效
#----------------------------------------------------------#

Cherry {
    D:configVersion=15

#--- 粉红色花簇 (落英 (文言文 语言))

    # 樱花树苗生成粉红色花簇 -默认："true"
    B:cherrySaplingAndPetals=true

    # 粉红色花簇放置限制取消 (可放置在上方完整的任意方块上)  -默认："false"
    B:petalsUnlimitedPlace=false

#--- 生成关闭后任意树苗和粉红色染料可以合成樱花树苗
#--- 樱花树林生物群系

    # 生成樱花树林生物群系 -默认："true"
    B:spawnCherryBiome=true

    # 樱花树林生物群系规模 -默认："6" -最大值："16" -警告: "仅支持新地图修改, 旧地图修改将会出现断裂带"
    B:cherryBiomeSize=6

    # 樱花树林生物群系基础高度 -默认："2.0" -最大值："5"
    B:cherryBiomeBaseHeight=2.0

    # 樱花树林生物群系高度起伏 -默认："0.48" -最大值："1"
    B:cherryBiomeHeightVariation=0.48

    # 樱花树林生物群系生成竹子 -默认："true"
    B:cherryBiomeSpawnBamboo=true

#--- 生成蜜蜂

    # 树苗生长时带蜂巢 -默认："true"
    B:saplingSpawnBee=true

    # 樱花树生成时带蜂巢 -默认："true"
    B:spawnTreeSpawnBee=true

#--- 燃烧

    # 方块燃烧 -默认："false"
    B:blockFire=false
}