#-------------------------------------------------------------------#
# Cherry Configuration file
#-------------------------------------------------------------------#
# After modification, you need to restart the game to take effect.
#-------------------------------------------------------------------#

Cherry {
    D:configVersion=15

#--- pink_petals

    # cherry_sapling Generate pink_petals
    B:cherrySaplingAndPetals=true

    # Remove placement restrictions for pink petals (can be placed on any full block) -Default: "false" -Default: "false"
    B:petalsUnlimitedPlace=false

#--- Generations are turned off, any sapling and pink dye can be used to craft cherry saplings.
#--- cherry_grove Biome

    # Generate cherry_grove biome -Default: "true"
    B:spawnCherryBiome=true

    # cherry_grove biome size -Default: "6" -Max: "16" -Warning: "Only works for NEW worlds, editing existing worlds will cause terrain cracks"
    B:cherryBiomeSize=6

    # cherry_grove biome base height -Default: "2.0" -Max: "1"
    B:cherryBiomeBaseHeight=2.0

    # cherry_grove biome Height Variatio -Default: "0.48" -Max: "1"
    B:cherryBiomeHeightVariation=0.48

    # cherry_grove biome spawns bamboo -Default: "true"
    B:cherryBiomeSpawnBamboo=true

#--- spawn Bee

    # The saplings grow with beehives -Default："true"
    B:saplingSpawnBee=true

    # Cherry trees grow with beehives -Default："true"
    B:spawnTreeSpawnBee=true

#--- kindle block

    # kindle block -Default："false"
    B:blockFire=false
}